<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infy.stg.estquido.admin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.mapper.MapperActivity"
            android:label="@string/title_activity_qrscanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.qr.QRScannerActivity"
            android:label="@string/title_activity_qrscanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.buildings.AddBuildingActivity"
            android:label="@string/title_activity_add_building"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.buildings.BuildingsActivity"
            android:label="@string/title_activity_Buildings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.centers.CentersActivity"
            android:label="@string/title_activity_centers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.centers.AddCenterActivity"
            android:label="@string/title_activity_add_center"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.ar" />

</manifest>